{% extends "base_generic.html" %}

{% block title %}<title>Jens' Tastings</title>{% endblock %}

{% block content %}
  <h1>Whisky Tasting Home</h1>
  <p>Welcome to Whisky Tasting, by <em>jhsoft</em>!</p>
  <h2>Some numbers</h2>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Whiskies:</strong> {{ num_whiskies }}</li>
    <li><strong>Evenings:</strong> {{ num_evenings }}</li>
    <li><strong>Eveningwhiskies:</strong> {{ num_eveningwhiskies }}</li>
    <li><strong>Ratings:</strong> {{ num_tastings }}</li>
    <li><strong>My Ratings</strong> {{ user }}: {{ num_my_tastings }}</li>

  </ul>
  <p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>
    {%  if user.is_authenticated %}
        <a href="{% url 'next-rating' %}">Rate your whisky</a>
    {% else %}
        <a href="{% url 'login'%}?next={{request.path}}">You should login first</a><
    {% endif %}
{% endblock %}
