{% extends "base_generic.html" %}

{% block content %}
      {% load static %}
      <link rel="stylesheet" href="{% static 'css/minimal-table.css' %}">
  <h1>Rate Whiskies {{ eveningwhisky.evening }}</h1>
  {% if object_list %}
  <table>
        <tr>
        <th scope="col">Whisky</th>
        <th scope="col">Nose</th>
        <th scope="col">Taste</th>
      </tr>
    {% for object in object_list %}
      <tr>
          {% if object.tasting %}
            <td><a href="/catalog/tasting/{{ object.tasting }}/update-value/">
                {{ object.whisky_id }} </a></td><td>{{ object.tasting_user__nose }} </td>
                <td>{{ object.tasting_user__taste }}</td>
          {% else %}
            <td><a href="/catalog/tasting/create/{{ object.id }}">{{ object.whisky_id }}</a></td>
          {% endif %}
      </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>Today there are no eveningwhiskies in the library.</p>
  {% endif %}
{% endblock %}