{% extends "base_generic.html" %}

{% block content %}
      {% load static %}
      <link rel="stylesheet" href="{% static 'css/minimal-table.css' %}">
  <h1>Evening Whisky List {{ eveningwhisky.evening }}</h1>
  {% if object_list %}
  <table>
        <tr>
        <th scope="col">Whisky</th>
        <th scope="col">Order</th>
      </tr>
    {% for object in object_list %}
      <tr>
          <td><a href="{{ object.get_absolute_url }}/update">{{ object.whisky_id }} </a></td>
          <td>{{ object.order }} </td>
      </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>Today there are no eveningwhiskies in the library.</p>
  {% endif %}
{% endblock %}