{% extends "base_generic.html" %}

{% block content %}
  <h1>Evening Whisky List {{ eveningwhisky.evening }}</h1>
  {% if object_list %}
  <ul>
    {% for object in object_list %}
      <li>
          {% if object.tasting %}
            <a href="/catalog/tasting/{{ object.tasting }}/update-value/">
                {{ object.whisky_id }} {{ object.tasting_user__nose }} {{ object.tasting_user__taste }}</a>
          {% else %}
            <a href="/catalog/tasting/create/{{ object.id }}">{{ object.whisky_id }}</a>
          {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>Today there are no eveningwhiskies in the library.</p>
  {% endif %}
{% endblock %}